* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  height: 100vh;
  width: 100%;
  background-image: url("assets/header-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  & > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  & > .header-text {
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(255, 255, 255, 0.726);
    font-weight: 600;
    letter-spacing: 0.8px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;

    & hr {
      width: 124px;
      height: 1px;
      border-color: white;
    }

    & > span {
      font-size: 24px;
      color: white;
    }

    & > img {
      display: inline-block;
      margin-top: 16px;
      filter: brightness(0) saturate(100%) invert(93%) sepia(94%) saturate(0%)
        hue-rotate(248deg) brightness(106%) contrast(106%);
    }

    & > img:first-of-type {
      transform: scaleX(-1);
    }
  }
}

section {
  background-color: #181a20;
  display: flex;
  justify-content: center;
  gap: 102px;
  padding-bottom: 32px;

  & > img {
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    padding: 20px;
  }
}

.custom-gradient {
  background-image: linear-gradient(rgba(24, 26, 32, 0), #181a20);
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
}

main {
  display: none;
  height: 100vh;
  background-color: #181a20;
  padding-top: 64px;

  & > h1 {
    color: white;
    font-size: 40px;
    text-align: center;
  }
}

.table-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 32px;
  align-items: center;
}

table {
  overflow-y: auto;
  width: 80%;
}

thead th p {
  font-size: 10px;
  color: #7d7d7d;
  font-weight: 400;
}

tbody td {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

tbody tr {
  height: 32px;
  position: relative;
}

thead th {
  vertical-align: middle;
  height: 42px;
}

thead tr {
  background-color: #0b0e11;
  color: rgba(255, 255, 255, 0.9);
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.067);
}

tbody td {
  vertical-align: middle;
}

tbody td:first-child {
  font-weight: 600;
  font-size: 14px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

tbody td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

tbody td:not(:first-child) {
  font-weight: 600;
  font-size: 14px;
}

#loader {
  position: relative;
  width: 100%;
}

#error {
  color: rgb(191, 102, 102);
  font-weight: 600;
  font-size: 42px;
  margin-top: 64px;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 48px;
  margin-top: 64px;
  position: relative;

  & button {
    width: 80px;
    outline: none;
    background-color: rgb(252, 213, 53);
    border: none;
    border-radius: 5px;
    padding: 6px 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
  }
}

/* loader */

/* From Uiverse.io by JkHuger */
@keyframes snow {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(650px);
  }
}

@keyframes astronaut {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.astronaut {
  width: 250px;
  height: 300px;
  position: absolute;
  z-index: 11;
  top: calc(50%);
  left: calc(50% - 125px);
  animation: astronaut 2s linear infinite;
}

.schoolbag {
  width: 100px;
  height: 150px;
  position: absolute;
  z-index: 1;
  top: calc(50% - 75px);
  left: calc(50% - 50px);
  background-color: #94b7ca;
  border-radius: 50px 50px 0 0 / 30px 30px 0 0;
}

.head {
  width: 97px;
  height: 80px;
  position: absolute;
  z-index: 3;
  background: -webkit-linear-gradient(
    left,
    #e3e8eb 0%,
    #e3e8eb 50%,
    #fbfdfa 50%,
    #fbfdfa 100%
  );
  border-radius: 50%;
  top: 34px;
  left: calc(50% - 47.5px);
}

.head:after {
  content: "";
  width: 60px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 30px);
  background: -webkit-linear-gradient(
    top,
    #15aece 0%,
    #15aece 50%,
    #0391bf 50%,
    #0391bf 100%
  );
  border-radius: 15px;
}

.head:before {
  content: "";
  width: 12px;
  height: 25px;
  position: absolute;
  top: calc(50% - 12.5px);
  left: -4px;
  background-color: #618095;
  border-radius: 5px;
  box-shadow: 92px 0px 0px #618095;
}

.body {
  width: 85px;
  height: 100px;
  position: absolute;
  z-index: 2;
  background-color: #fffbff;
  border-radius: 40px / 20px;
  top: 105px;
  left: calc(50% - 41px);
  background: -webkit-linear-gradient(
    left,
    #e3e8eb 0%,
    #e3e8eb 50%,
    #fbfdfa 50%,
    #fbfdfa 100%
  );
}

.panel {
  width: 60px;
  height: 40px;
  position: absolute;
  top: 20px;
  left: calc(50% - 30px);
  background-color: #b7cceb;
}

.panel:before {
  content: "";
  width: 30px;
  height: 5px;
  position: absolute;
  top: 9px;
  left: 7px;
  background-color: #fbfdfa;
  box-shadow: 0px 9px 0px #fbfdfa, 0px 18px 0px #fbfdfa;
}

.panel:after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 9px;
  right: 7px;
  background-color: #fbfdfa;
  border-radius: 50%;
  box-shadow: 0px 14px 0px 2px #fbfdfa;
}

.arm {
  width: 80px;
  height: 30px;
  position: absolute;
  top: 121px;
  z-index: 2;
}

.arm-left {
  left: 30px;
  background-color: #e3e8eb;
  border-radius: 0 0 0 39px;
}

.arm-right {
  right: 30px;
  background-color: #fbfdfa;
  border-radius: 0 0 39px 0;
}

.arm-left:before,
.arm-right:before {
  content: "";
  width: 30px;
  height: 70px;
  position: absolute;
  top: -40px;
}

.arm-left:before {
  border-radius: 50px 50px 0px 120px / 50px 50px 0 110px;
  left: 0;
  background-color: #e3e8eb;
}

.arm-right:before {
  border-radius: 50px 50px 120px 0 / 50px 50px 110px 0;
  right: 0;
  background-color: #fbfdfa;
}

.arm-left:after,
.arm-right:after {
  content: "";
  width: 30px;
  height: 10px;
  position: absolute;
  top: -24px;
}

.arm-left:after {
  background-color: #6e91a4;
  left: 0;
}

.arm-right:after {
  right: 0;
  background-color: #b6d2e0;
}

.leg {
  width: 30px;
  height: 40px;
  position: absolute;
  z-index: 2;
  bottom: 70px;
}

.leg-left {
  left: 76px;
  background-color: #e3e8eb;
  transform: rotate(20deg);
}

.leg-right {
  right: 73px;
  background-color: #fbfdfa;
  transform: rotate(-20deg);
}

.leg-left:before,
.leg-right:before {
  content: "";
  width: 50px;
  height: 25px;
  position: absolute;
  bottom: -26px;
}

.leg-left:before {
  left: -20px;
  background-color: #e3e8eb;
  border-radius: 30px 0 0 0;
  border-bottom: 10px solid #6d96ac;
}

.leg-right:before {
  right: -20px;
  background-color: #fbfdfa;
  border-radius: 0 30px 0 0;
  border-bottom: 10px solid #b0cfe4;
}
